* {
  /* font-family: "Quicksand"; */
  /* color: #333; */
  background: none;
  /* overflow-x: hidden; */
}

.landing-page {
  background: #121336;
  min-height: 200vh;
  min-width: 100vw;  /* min width is 100% of the viewport width */
}

.btns {
  display: flex;
  gap: 0px; /* space between buttons */
  justify-content: right;
}

.landing-page button {
  color: white;
  padding: 16px;
  margin: 16px;
  height: 20px;
  width: 80px;
  text-align: center;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  overflow-y: hidden;
  cursor: pointer;
}

.img-container {
  overflow: hidden;
}

.landing-page img {
  height: 850px;
  width: 650px;
}

.rocket-img {
  position: absolute; /* Added */
  transform: rotate(35deg);
  left: -100px; /* Start position, off-screen to the left */
  top: 50px;
  animation: flyIn 1.5s forwards; /* Animation duration and timing */
}

@keyframes flyIn {
  from {
    left: -100px; /* Starting position */
    top: 50px;
  }
  to {
    left: 0; /* End position, adjust as needed */
    top: 20px;
  }
}