* {
  background: none;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.landing-page {
  background: #07071f;
  min-height: 100vh;
  min-width: 100vw;  /* min width is 100% of the viewport width */
}

.btn-container {
  display: flex;
  gap: 0px; /* space between buttons */
  justify-content: right;
  margin-right: 20px;
}

.landing-page button {
  background-color: white;
  color: #07071f;
  padding: 16px;
  margin: 16px;
  height: 20px;
  width: 80px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  overflow-y: hidden;
  cursor: pointer;
}

.landing-page img {
  padding: 0px;
  margin: 0px;
}

.sky-img {
  width: 1500px; /* Make sure the image spans the entire width of its container */
  height: auto; /* Allow the image to adjust its height proportionally */
  z-index: -1;
}

.rocket-img {
  overflow: hidden;
  height: 850px;
  width: 650px;
  position: absolute;
  left: 0px;
  top: 50px;
  transform: translateY(50px) translateX(-100px) rotate(25deg);
  animation: flyIn 1s ease forwards;
}

@keyframes flyIn {
  from { 
    left: -100px;
    top: 100px; 
  }
  to { 
    left: 100px;
    top: 0px; 
  }
}