.matched-page {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom right, #07071F, #35268D);
    height: 100vh; 
    flex-direction: column;
    color: white;
    text-align: center;
}

.title {
    /* position: fixed; */
    margin-top: 60px;
    color: white;
    font-size: 3.2em;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-holder {
    color: white;
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center items horizontally */
}

.mentor-card.left {
    padding: 40px;
    margin-top: 170px;
}

.mentor-card.right {
    margin-top: 170px;
    padding: 40px;
}

.mentor-card.center {
    margin-top: -170px;
    padding: 40px;
}

.mentor-name{
    position: relative;
    margin-top: 50px;
    font-size: 55px;
    text-align: center;
    margin-bottom: -210px;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 999;
}

p{
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  padding: 20px;
  font-style: normal;
  margin-bottom: -15px;
  padding-bottom: 15px;
}

.imageAlign{
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: -35px;
}

.textBox{
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
}

.ranking {
    margin-top: -10px;
    color: white;
    font-size: 4em;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
}