.matched-page {
    padding: 0px;
    margin: 0px;
    background-color: #07071f;
    display: flex;
    text-align: center;
    /* justify-content: center;  */
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}

.title {
    /* position: fixed; */
    padding: 20px;
    padding-bottom: 50px;
    z-index: 999; /* Set a high z-index to ensure the element appears on top */
    color: white;
    font-size: 2.5em;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
}

.content-holder {
    color: blue;
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center items horizontally */
}

.pfp-img {
    height: 400px;
    width: auto;
    border-radius: 1000px;
}

.mentor-name {
    padding: 20px;
    margin-left: 100px;
    align-self: flex-start; 
}